<link href="css/mod-comment-pc.css" rel="stylesheet"/>
<!-- comment-box -->
<div class="comment-box">
	<!-- speak-box -->
    <div class="speak-box">
        <div class="avatar">
            <img src="images/comment-avatar.jpg" width="100%" alt="" />
        </div>
        <div class="name">cloudy</div>
        <!-- input-box -->
        <div class="input-box">
        	<i class="delta"></i>
        	<i class="delta2"></i>
        	<textarea placeholder="来说说买车心得吧~"></textarea>
    		<div class="bar clearfix">
    			<div class="expression"><i class="f-inte"></i></div>
    			<input type="button" class="btn" value="发布" onclick="popupLogin()" />
    		</div>
        </div>
        <!-- /input-box -->
        <!-- 第三方账户未登录状态 -->
        <div class="social-info clearfix">
        	<span>社交账号登录</span><span><i class="f-weibo"></i><i class="f-qq"></i><i class="f-wechat"></i></span>
        </div>
        <!-- /第三方账户未登录状态 -->
        <!-- 第三方账户已登录状态 -->
        <!-- <div class="social-info">
        	<i class="f-weibo"></i>已登录，<a href="#">退出</a>
        </div> -->
        <!-- /第三方账户已登录状态 -->
    </div>
    <!-- /speak-box -->
    <!-- sort-box -->
    <div class="sort-box clearfix">
    	<div class="sort-li cur">全部</div>
    	<div class="sort-li">最多赞</div>
    	<div class="sort-li">最新</div>
    </div>
    <!-- /sort-box -->
    <!-- comment-ul -->
    <ul class="comment-ul clearfix">
    	<li class="comment-li clearfix">
    		<div class="avatar">
                <img src="images/comment-avatar.jpg" width="100%" alt="" />
    		</div>
    		<div class="info clearfix">
    			<span class="name">秋名山车神</span>
    		</div>
    		<div class="detail">哦，那按实际车价算。那乾坤值得考虑。牛</div>
    		<div class="status">
    			<span class="blk"><i class="f-zan"></i>39</span>
    			<span class="blk"><i class="f-comment"></i>15</span>
                <span class="time">8小时前</span>
    		</div>
    		<div class="like-box">
    			<i class="f-zan"></i>
                <span class="ava"><img src="images/comment-avatar.jpg" width="100%" alt="" /></span>
                <span class="ava"><img src="images/comment-avatar.jpg" width="100%" alt="" /></span>
                <span class="ava"><img src="images/comment-avatar.jpg" width="100%" alt="" /></span>
    		</div>
            <div class="reply-box">
                <div class="avatar">
                    <img src="images/comment-avatar.jpg" width="100%" alt="" />
                </div>
                <textarea></textarea>
                <input type="button" class="btn" value="提交">
            </div>
    		<ul class="reply-ul clearfix">
    			<li class="reply-li">
    				<div class="avatar">
    					<img src="images/comment-avatar.jpg" width="100%" alt="" />
    				</div>
    				<div class="reply-con">
    					<b>乾坤车城</b>回复<b>cloudy</b>：谢谢这位亲的支持！
    				</div>
    				<div class="reply-handle clearfix">
    					<span class="time">8小时前</span>
    					<span class="ico"><i class="f-comment"></i></span>
    				</div>
    			</li>
    			<li class="reply-li">
    				<div class="avatar">
    					<img src="images/comment-avatar.jpg" width="100%" alt="" />
    				</div>
    				<div class="reply-con">
    					<b>乾坤车城</b>回复<b>cloudy</b>：谢谢这位亲的支持！
    				</div>
    				<div class="reply-handle clearfix">
    					<span class="time">8小时前</span>
    					<span class="ico"><i class="f-close"></i></span>
    				</div>
    			</li>
    		</ul>
    		<span class="more">展开更多</span>
    	</li>
    	<li class="comment-li clearfix">
    		<div class="avatar">
                <img src="images/comment-avatar.jpg" width="100%" alt="" />
    		</div>
    		<div class="info clearfix">
    			<span class="time">8小时前</span>
    			<span class="name">秋名山车神</span>
    		</div>
    		<div class="detail">哦，那按实际车价算。那乾坤值得考虑。牛</div>
    		<div class="status">
    			<span class="blk"><i class="f-zan"></i>39</span>
    			<span class="blk"><i class="f-comment"></i>15</span>
    		</div>
    		<div class="like-box">
    			<i class="f-zan"></i>
                <span class="ava"><img src="images/comment-avatar.jpg" width="100%" alt="" /></span>
    		</div>
    	</li>
    </ul>
    <!-- /comment-ul -->
    <a href="#" class="comment-li-more">展开更多</a>
</div>
<!-- /comment-box -->